*{
    margin: 0;
    padding: 0;
    font-size: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(18, 34, 59);
}

h1,h2,h3,h4,h5{
    color: #aed6b6;
}
p,label{
    color: rgb(189, 173, 150);
}

input{
    border: none;
    border-bottom: 1px solid #856767;
    padding: 10px 0;
   
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea{
    width: 400px;
}

.header{
    height: 160px;
    padding: 20px;
    background-color: rgb(80, 80, 114);
}

.header h3{
    color: rgb(161, 221, 201);
    margin-top: 0;
}

textarea{
    padding: 10px  5px;
}

.form-container{
    background-color: rgb(17, 18, 36);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top:-62px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px chartreuse;
}

.for-header{
    border-bottom: 1px solid #c4b1b1;
    height: 45px;
}

.for-header p{
    color: #c3b4dbdd;
    border-bottom: 2px solid #131212;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-body-title{
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.required-field{
    color: #111010
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}

.optional-box{
    display: inline-block;
    margin: 0 30px 30px 0;
    border: 0;
    border-bottom: 2px solid coral;
}

.btn-submit{
    background-color: #2b4263;
    color: #aed6b6;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover{
    background-color: aqua;
    border-color: #201313;
    color: #0c0101;
}

#title{
    bottom: 5px;
}